body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#40514E;
}

h1 {
  font-size: 5.625rem;
  margin-top: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color:#11999E;
  text-decoration: none;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 20px;
}
a:hover{
  color: #EAF6F6;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;


}
p{
  line-height: 2;
}


.aquarium-hobbies-img{
  width: 25%;
  float:left;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}





.copyright-message
{
  color: #EAF6F6;
  font-family: 'Montserrat',sans-serif;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact-me{
  margin-top: 50px;
  margin-bottom:50px;
  padding:50px;
}
.contact-message{
width: 40%;
margin: 50px auto;
}
.left{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
.circular {
  border-radius: 150%;
  width: 18%;

}
.footer-link{

}
.hobbies-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.intro{
  width: 30%;
  text-align: center;
  margin: auto;

}
.middle-container{
  margin: 100px 0;
}
.right{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float:right;
  margin-left: 30px;
}


.pro {
  text-decoration: underline;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;



}
.top-container {
  background-color: #e4f9f4;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
